div.container {
	flex-direction: column;
}

section.places {
	font-size: 30px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.places article {
	margin: 20px 20px 20px 20px;
	padding: 20px 20px 20px 20px;
	border: 1px #FF5A5F solid;
	border-radius: 4px;
	width: 390px;
}



.places h1, .places h2 {
	font-size: 30px;
	text-align: center;
}

.price_by_night {
	color: #FF5A5F;
	min-width: 60px;
	height: 60px;
	font-size: 30px;
	border: 4px #FF5A5F solid;
	border-radius: 50%;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.information {
	height: 80px;
	border-top: solid #DDDDDD 1px;
	border-bottom: solid #DDDDDD 1px;
}

div.max_guest {
	height: 100px;
	width: 100px;
	display: inline-block;
	background: url("../images/icon_group.png") no-repeat center;
}

div.number_rooms {
	height: 100px;
	width: 100px;
	display: inline-block;
	background: url("../images/icon_bed.png") no-repeat center;
}

div.number_bathrooms {
	height: 100px;
	width: 100px;
	display: inline-block;
	background: url("../images/icon_bath.png") no-repeat center;
}

